# Regresión lineal múltiple

En este archivo se desarrolla el algoritmo de **regresión lineal múltiple** en el cual se emplean las características 'Seq', 'M', 'R', 'Teff','L','Meta','logg' y 'Prot' para estimar la edad estelar.

In [41]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

df = pd.read_csv('/Users/jarmireciomartinez/Doctorado_Python/Pruebas_regresion/gyro_tot_v20180801.txt', sep="\t", header=0)
df

,Seq,SIMBAD_ID,M,eM1,eM2,R,eR1,eR2,Teff,eTeff1,...,cutoff,class,type,cat1,cat2,e_M,e_R,e_Teff,e_L,mode
0,1,KIC10003270,1.416000,0.207466,0.103233,2.362000,0.114948,0.098478,6594,69,...,3.471749,MS,F,serenelli17,garcia14,10.970989,4.517914,1.046406,9.498159,Ast
1,2,KIC10016239,1.264000,0.054037,0.059641,1.298000,0.024698,0.025554,6482,51,...,3.545165,MS,F,serenelli17,garcia14,4.496741,1.935749,0.786794,8.232459,Ast
2,3,KIC10024648,1.444000,0.087693,0.137295,2.000000,0.050448,0.060208,6409,157,...,3.593017,MS,F,serenelli17,garcia14,7.790441,2.766399,2.449680,8.551756,Ast
3,4,KIC10025841,1.121000,0.133195,0.096649,1.521000,0.094557,0.085094,5738,187,...,4.032857,MS,G,serenelli17,garcia14,10.251748,5.905685,3.258975,8.542442,Ast
4,5,KIC10068307,1.608100,0.026300,0.026300,2.164600,0.013900,0.013900,6132,77,...,3.774590,MS,F,silva17,garcia14,1.635470,0.642151,1.255708,6.023016,Ast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,1460,KIC9837012,0.886374,0.022743,0.022743,0.777651,0.055476,0.055476,5579,183,...,4.137082,MS,G,mathur17,meibom11,2.565851,7.133751,3.432515,11.812753,Clust
1460,1461,KIC9838215,0.975155,0.022871,0.022871,0.919946,0.057136,0.057136,5776,138,...,4.007948,MS,G,mathur17,meibom11,2.345409,6.210840,2.683518,10.759006,Clust
1461,1462,KIC9896609,0.762092,0.022697,0.022697,0.650313,0.050160,0.050160,5024,151,...,4.500884,MS,K,mathur17,meibom11,2.978281,7.713252,2.856290,14.843708,Clust
1462,1463,KIC9896700,1.017446,0.022739,0.022739,0.982039,0.059040,0.059040,5889,142,...,3.933877,MS,G,mathur17,meibom11,2.234908,6.011960,2.708439,10.073298,Clust
1463,1464,KIC9957187,0.983718,0.048498,0.048498,0.920374,0.116501,0.116501,5838,157,...,3.967307,MS,G,mathur17,meibom11,4.930028,12.657988,2.843440,25.266281,Clust

In [42]:
# Se eliminan las filas con valores NULL/NA

df = df.dropna()

In [43]:
df_2 = df[['Seq', 'M', 'R', 'Teff','L','Meta','logg','Prot','Age']]
df_2

     Seq       M       R  Teff        L   Meta    logg    Prot     Age
0      1  1.4160  2.3620  6594   9.8470 -0.181  3.8480   7.090  2.4670
1      2  1.2640  1.2980  6482   2.5670 -0.005  4.3120   4.910  1.2890
2      3  1.4440  2.0000  6409   5.8750 -0.006  3.9940  10.580  2.3400
3      4  1.1210  1.5210  5738   3.1810  0.197  4.1270  11.840  7.2890
4      5  1.6081  2.1646  6132   6.6910 -0.230  3.9732  18.600  2.0082
..   ...     ...     ...   ...      ...    ...     ...     ...     ...
307  308  1.2910  1.7750  6550   5.8370 -0.307  4.0480  10.340  2.8120
308  309  1.1680  2.0140  6074   5.2160 -0.314  3.8960  21.070  4.9240
309  310  1.6260  3.3990  5936  14.4300 -0.054  3.5880  15.650  1.7790
310  311  1.5300  2.7640  6000   9.8680  0.160  3.7390  17.295  2.4890
311  312  0.8830  0.8820  5434   0.6574  0.118  4.4920  34.200  7.8400

[300 rows x 9 columns]

In [44]:
#Definición de las variables a emplear

Y_mult = np.array(df_2['Age']) #Predecir Age
X_mult = np.array(df[['Seq', 'M', 'R', 'Teff','L','Meta','logg','Prot']]) #A través de las demás columnas

In [45]:
#Se separa el 20% de los datos para test

X_train, X_test, Y_train, Y_test = train_test_split(X_mult, Y_mult, test_size=0.2)

In [46]:
#Definición del algoritmo
regr_mult = linear_model.LinearRegression()

#Entrenamiento del algoritmo
regr_mult.fit(X_train,Y_train)

LinearRegression()

In [47]:
#Realizar una predicción
Y_pred = regr_mult.predict(X_test)

In [48]:
#Comparación de arrays

data = {'Y_test':  Y_test,
        'Y_pred': Y_pred,
        }

df_new = pd.DataFrame (data, columns = ['Y_test','Y_pred'])

print (df_new)

     Y_test    Y_pred
0    2.1810  2.243496
1    1.1590  3.392461
2    2.3247  2.006574
3    2.5310  2.791341
4    7.1000  6.910329
5    3.9000  4.219163
6    2.4210  4.028955
7    1.5660  2.655590
8    2.4740  2.684803
9    1.0000  1.483993
10   9.9670  8.035696
11   1.9550  1.592819
12   4.8230  5.292622
13   4.2910  5.476726
14   4.0630  4.211214
15   4.5300  5.462847
16   3.0190  4.036818
17   4.1820  4.464981
18   4.7220  4.639706
19   5.1000  6.693773
20   5.1650  5.291961
21   1.7407  3.958991
22   3.3980  3.771704
23   3.6000  2.927094
24   3.2090  3.624822
25  13.8000  8.941415
26   2.1090  1.994107
27   2.2850  2.946923
28   4.4990  4.639050
29   3.1130  3.873806
30   3.1010  5.102991
31   3.8730  4.472568
32   6.2170  5.992246
33   3.4000  2.651205
34   5.1000  5.332972
35   1.8170  1.405232
36   2.6020  4.330449
37   4.7790  4.966743
38   3.4830  3.868783
39   5.4050  5.077106
40   2.2610  2.004823
41  13.6200  7.439107
42   5.0850  5.472960
43   2.7700  4.330437
44   3.8000  3.014477
45   3.8340  4.348775
46   4.3800  4.759905
47   4.5570  5.128103
48   3.0840  3.685261
49   2.8770  3.502593
50   5.7927  5.546547
51   4.3000  3.898105
52   1.2940 -0.411766
53   2.5830  2.847544
54   7.1530  6.800012
55   4.1196  4.237954
56   2.9690  4.890803
57   3.1000  3.053644
58   3.9210  4.187716
59   5.6270  4.932713

In [49]:
#Valores de pendiente e intersección

print('Valor de la pendiente:')
print(regr_mult.coef_)
print('Valor de la intersección:')
print(regr_mult.intercept_)

Valor de la pendiente:
[ 2.37245012e-04 -6.18713098e+00 -5.17224162e+00 -2.37650969e-03
  1.65910707e-01  1.31746374e+00 -1.22920454e+01  3.36589615e-03]
Valor de la intersección:
84.80814618835055

In [50]:
#Precisión del algoritmo (conjunto entrenamiento)
print('Precisión del algoritmo:')
print(regr_mult.score(X_train, Y_train))

Precisión del algoritmo:
0.8120293020687039

In [53]:
#Precisión del algoritmo (conjunto test)
print('Precisión del algoritmo:')
print(regr_mult.score(X_test, Y_test))

Precisión del algoritmo:
0.684860286496475

In [51]:
from sklearn.metrics import mean_squared_error, r2_score, max_error

# The mean squared error
print('Mean squared error: %.2f'
      % mean_squared_error(Y_test, Y_pred))
# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f'
      % r2_score(Y_test, Y_pred))
# The max error
print('Max error: %.2f'
      % max_error(Y_test, Y_pred))

Mean squared error: 1.81
Coefficient of determination: 0.68
Max error: 6.18

In [52]:
#Almacenar valor

lineal_mult = regr_mult.score(X_test, Y_test)
%store lineal_mult

Stored 'lineal_mult' (float64)